.section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 3;
	width: 100%;
	background: var(--pure-white);
}

.loading {
	height: 100vh;
}

.submit {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.img {
	animation: rotation 2s infinite linear;
	margin-bottom: 32px;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

